// 蓝色
$xt-color-blue-light : #58B7FF;
$xt-color-blue : #20A0FF;
$xt-color-blue-dark : #1D8CE0;
// 辅助颜色
$xt-color-success : #13CE66;
$xt-color-success-light : #43ce66;
$xt-color-warning : #F7BA2A;
$xt-color-warning-light : #ffba2a;;
$xt-color-danger : #FF4949;
$xt-color-danger-light : #ff5949;
// 黑色系
$xt-color-black : #1F2D3D;
$xt-color-black-light : #324057;
$xt-color-black-extra-light : #475669;
// 深灰色系
$xt-color-sliver : #8492A6;
$xt-color-sliver-light : #99A9BF;
$xt-color-sliver-extra-light : #C0CCDA;
// 浅灰色系
$xt-color-gray : #D3DCE6;
$xt-color-gray-light : #E5E9F2;
$xt-color-gray-extra-light : #EFF2F7;
// 白色系
$xt-color-white-dark : #F9FAFC;
$xt-color-white : #FFFFFF;
